.header-component {
    color: white;
    padding: 20px;
    background-color: rgb(8, 112, 112);
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    font-variant-caps: small-caps;
}